body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.primary-color {
   color: rgb(98, 61, 147);
}

.secondary-color {
    color: rgb(95, 95, 95);
}

.light-text {
   color: white;
}

.grad-btn {
  background: rgb(100, 57, 142); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top left, rgb(100, 57, 142), rgb(83, 83, 169));
  background: -moz-linear-gradient(top left, rgb(100, 57, 142), rgb(83, 83, 169));
  background: -o-linear-gradient(top left, rgb(100, 57, 142), rgb(83, 83, 169));
  background: linear-gradient(to bottom right, rgb(100, 57, 142), rgb(83, 83, 169));
}

footer.page-footer {
    background-color: rgb(98, 61, 147);
}

.menu-color {
     background-color: rgb(226, 226, 226);
}

.tabs .indicator {
     background-color: rgb(98, 61, 147) !important; 
}

.tabs .tab a{
    color:rgb(98, 61, 147);
}

.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color: rgb(98, 61, 147);
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}

.parallax-container {
    height: 300px;
}        

hr {
    margin: 3rem;
}

article>div>div>p {
    padding: 16px 0 0;
}

article>div>div>h4 {
    padding-top: 35px;
}

/* Style all font awesome icons */
.fa {
    padding-top: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Instagram */
.fa-instagram {
    background: #55ACEE;
    color: white;
}

.menu-site {
    margin-bottom: 3rem;
}