body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.primary-color {
   color: rgb(98, 61, 147);
}

.secondary-color {
    color: rgb(95, 95, 95);
}

.light-text {
   color: white;
}

.grad-btn {
  background: rgb(100, 57, 142); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top left, rgb(100, 57, 142), rgb(83, 83, 169));
  background: -moz-linear-gradient(top left, rgb(100, 57, 142), rgb(83, 83, 169));
  background: -o-linear-gradient(top left, rgb(100, 57, 142), rgb(83, 83, 169));
  background: linear-gradient(to bottom right, rgb(100, 57, 142), rgb(83, 83, 169));
}

.grad-btn:active {
    background: rgb(95, 95, 95);
    background-color: rgb(95, 95, 95);
}

footer {
    margin-top: 3rem;
}

footer.page-footer {
    background-color: rgb(98, 61, 147);
}

.menu-color {
     background-color: rgb(226, 226, 226);
}

.tabs .indicator {
     background-color: rgb(98, 61, 147) !important; 
}

.tabs .tab a{
    color:rgb(98, 61, 147) !important;
}

.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color: rgb(98, 61, 147) !important;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}

.parallax-container {
    height: 300px;
}        

hr {
    margin-bottom: 3rem;
}

article>div>div>p {
    padding: 16px 0 0;
}

article>div>div>h4 {
    padding-top: 35px;
}

.menu-site {
    margin-bottom: 3rem;
}

.select {
    margin-bottom: 20px;
}

/* label color */
.input-field label {
    color: rgb(98, 61, 147) !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: rgb(98, 61, 147) !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(98, 61, 147);
    box-shadow: 0 1px 0 0 rgb(98, 61, 147);
}

.socialmedia {
    padding-right: 50%;
}