body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.primary-color {
   color: rgb(98, 61, 147);
}

.secondary-color {
    color: rgb(95, 95, 95);
}

.light-text {
   color: white;
}

.grad-btn {
  background: rgb(100, 57, 142); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top left, rgb(100, 57, 142), rgb(83, 83, 169));
  background: -moz-linear-gradient(top left, rgb(100, 57, 142), rgb(83, 83, 169));
  background: -o-linear-gradient(top left, rgb(100, 57, 142), rgb(83, 83, 169));
  background: linear-gradient(to bottom right, rgb(100, 57, 142), rgb(83, 83, 169));
}

footer.page-footer {
    background-color: rgb(98, 61, 147);
}

.menu-color {
     background-color: rgb(226, 226, 226);
}

.tabs .indicator {
     background-color: rgb(98, 61, 147) !important; 
}

.tabs .tab a{
    color:rgb(98, 61, 147);
}

.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color: rgb(98, 61, 147);
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}

.parallax-container {
    height: 300px;
}        

hr {
    margin: 3rem;
}

article>div>div>p {
    padding: 16px 0 0;
}

article>div>div>h4 {
    padding-top: 35px;
}